body, h2{
    margin: 0px;
}
.caja{
    text-align: center;
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

#caja1, #caja2{
    float: left;
}

#caja3, #caja4{
    float: right;
}